huggingface_hub
python-dotenv
langchain 
chromadb 
sentence-transformers
langchain-community
pypdf
pymongo  
requests 
beautifulsoup4 
firecrawl
youtube-transcript-api
apscheduler
google-api-python-client
torch
pdfminer.six
psutil
langchain-huggingface
fastapi
uvicorn
PyMuPDF==1.22.5
numpy==1.26.4
faiss-cpu==1.7.4







